<h1>Crear categoria</h1>
<%=form_for @category do |f|%>
	<div class="row">
		<div class="col-lg-2">
			<%=f.label :name,'Nombre'%>
		</div>
		<div class="col-lg-2">
			<%=f.text_field :name%>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<%=f.submit%>
		</div>
	</div>
<%end%>